Q1. How do you comment code in Python? What are the different types of comments?

Ans:- There are three types of comments in Python:

Single-line comments: These comments start with a hash (#) symbol and continue to the end of the line.

In [1]:
# This is a single-line comment

Multi-line comments: These comments start with a triple quote (''' or """) and end with a triple quote on a new line.

In [3]:
"""This is a multi-line comment.
It can span multiple lines."""

'This is a multi-line comment.\nIt can span multiple lines.'

Docstrings: These comments are used to document functions, classes, and modules. They start with a triple quote (''' or "") and end with a triple quote on a new line, but they also include the function's name and arguments

In [4]:
def my_function(arg1, arg2):
    '''This is a docstring.
    It documents the my_function function.

    Args:
        arg1 (int): The first argument.
        arg2 (str): The second argument.

    Returns:
        int: The sum of arg1 and arg2.
    '''
    return arg1 + arg2

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are used to store data in Python. They are named containers that can hold different types of data, such as numbers, strings, lists, and dictionaries. Variables are important because they allow us to store data and use it in our programs.
To declare a variable in Python, you simply assign a value to it.
lets's take an example of variable as 'num'.

In [5]:
num=10
if num>0:
    print("number is positive")
else:
    print("number is negative")

number is positive

Q3. How do you convert one data type to another in Python?

There are two ways to convert one data type to another in Python:
Implicit type conversion: This is when Python automatically converts one data type to another. For example, if you add a string and an integer, Python will automatically convert the string to an integer.
Explicit type conversion: This is when you use a function to convert one data type to another. For example, you can use the int() function to convert a string to an integer.
Here are some examples of how to convert one data type to another in Python:

In [7]:
# Convert a string to an integer
int("123")

123

In [8]:
# Convert an integer to a float
float(123)

123.0

In [9]:
# Convert a float to a string
str(123.45)

'123.45'

In [10]:
# Convert a list to a tuple
tuple([1, 2, 3])

(1, 2, 3)

In [11]:
# Convert a tuple to a list
list((1, 2, 3))

[1, 2, 3]

Q4. How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line, you will need to:
Open a terminal or command prompt window.
Navigate to the directory where your Python script is located using the cd command.
Execute your script by typing python followed by the name of your script.
For example, if your Python script is called hello.py, you would navigate to the directory where it is located and then type the following command:

python hello.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [17]:
my_list=[1,2,3,4,5]
sub_list=my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Python helps to tackle and manipulate them. Complex numbers are created from two real numbers. You can create it directly or you can use the complex function. It is written in the form of (x + yj) where x and y are real numbers and j is an imaginary number which is the square root of -1

In [19]:
z = complex(5, 7)
print(z)

(5+7j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Declare a variable by naming it and assigning it a value. The variable's data type will be automatically determined from the value assigned

In [21]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [23]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [24]:
name="Patil Mona"
print(name)

Patil Mona

Q10. Given the string "Hello, World!", extract the substring "World".

In [26]:
string="hellow , World!"
print(string[8:14])

 World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [34]:
is_student= True
print(is_student)

True